@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Noto Sans", sans-serif;

  --white: #ffffff;
  --black: #000000;
  --primary: #8708e3;

  --complement: #efc906;
  --complement-100: #ffd700;

  --analogous: #5a08e3;
  --analogous-100: #e308dc;

  --contrast: #4b4b4b;
  --contrast-100: #cccccc;
}

@font-face {
  font-family: "HumanismRegular";
  src: url("./fonts/humanism-regulardemo.otf") format("opentype");
}

@font-face {
  font-family: "HumanismBold";
  src: url("./fonts/humanism-bolddemo.otf") format("opentype");
}

@font-face {
  font-family: "BrigendsExpanded";
  src: url("./fonts/brigendsexpanded-nrek1.otf") format("opentype");
}

@font-face {
  font-family: "StretchPro";
  src: url("./fonts/StretchPro.otf") format("opentype");
}

body {
  min-height: 100vh;
  max-width: 768px;
}

p {
  color: var(--white);
}

.title {
  font-family: "HumanismBold", sans-serif !important;
  font-style: normal;
}

.title-regular {
  font-family: "HumanismRegular", sans-serif !important;
  font-style: normal;
}

.title-secondary {
  font-family: "BrigendsExpanded", sans-serif !important;
  font-style: normal;
}

.title-StretchPro {
  font-family: "StretchPro", sans-serif !important;
  font-style: normal;
}

.container-lyrics {
  background-image: url("../../public/assets/BG_LAND.png");
  background-position: center;
  background-size: 100vh;
}

.container-social-media {
  background-image: url("../../public/assets/HANDS_TMJ30.png");
  background-color: #000000;
  background-repeat: repeat(auto-fill, 20px);
  background-size: 100vw;
}

.container-tema {
  background-image: url("../../public/assets/GRADE_TMJ20.png");
  background-color: #000000;
  background-repeat: repeat(auto-fill, 20px);
  background-position: center;
  background-size: 100vw;
}

.image-repeat {
  /* background-image: url("../../public/assets/TMJ_BANNER2.png"); */
  background-color: #000000;
  background-repeat: repeat(auto-fill, 20px);
  background-position: center;
  background-size: 32px;
}

.ant-collapse-header {
  display: flex;
  align-items: center !important;
}

.ant-collapse-arrow svg {
  color: var(--white);
}
